---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.jsx";
import Services from "../components/Services.astro";
import DetailPassion from "../components/DetailPassion.astro";
import ContactUs from "../components/ContactUs.astro";
import AboutUs from "../components/AboutUs.astro";
import { Image } from "@astrojs/image/components";

import logo from "/public/images/logo.png";
import phone from "/public/images/phone.png";
import mail from "/public/images/mail.png";
import instagram from "/public/images/InstagramFooter.png";
import facebook from "/public/images/FacebookFooter.png";
import logo_footer from "/public/images/logo_np.png";

import { getSanityContent, getSanityImageUrl } from "../utils/helpers.js";
import { website } from "../lib/api.js";
import BannerContactUs from "../components/BannerContactUs.astro";
const response = await getSanityContent({ query: website });
const websites = response.allWebsite;
---

<Layout>
  <!-- {
    websites.map((website) => (
      <main>
        <h1 class="text-gradient">{website.title}</h1>
        <ul role="list" class="link-card-grid">
          <Card
            href="/contact"
            title="Contact Us"
            body="Tell us what you think"
          />
          <Card href="/components" title="Components" body="Enter Components" />
        </ul>
        <Image
          src={getSanityImageUrl(website.mainImage).width(1200).url()}
          width="720"
          height="420"
        />
      </main>
    ))
  } -->
  <header class="header" id="home">
    <Navbar client:load />
    <div class="header__logo_div">
      <div class="header__logo-box">
        <Image src={logo} class="header__logo" alt="Logo" />
      </div>
    </div>
  </header>
  <main>
    <Services />
    <DetailPassion />
    <AboutUs />
    <BannerContactUs />
    <ContactUs />
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.3987740460163!2d-81.38081473414938!3d19.295519022852794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2a5d8c15413671e!2zMTnCsDE3JzQ0LjAiTiA4McKwMjInNDkuNSJX!5e0!3m2!1sen!2shn!4v1669692574888!5m2!1sen!2shn"
        width="600"
        height="100"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </main>
  <footer>
    <div class="contact">
      <div class="info">
        <lord-icon
          src="https://cdn.lordicon.com/gzmgulpl.json"
          trigger="hover"
          colors="outline:#b29758,primary:#b29758,secondary:#ebe6ef"
          style="width:80px;height:80px"
          class="icon"
        />
        <div class="text">
          <a href="mailto: archnewperspective@gmail.com"
            >archnewperspective@gmail.com</a
          >
        </div>
      </div>
      <div class="info">
        <lord-icon
          src="https://cdn.lordicon.com/kjkiqtxg.json"
          trigger="hover"
          colors="outline:#121331,primary:#ebe6ef,secondary:#b29758,tertiary:#ebe6ef"
          style="width:80px;height:80px"
          class="icon"
        />
        <div class="text">
          <a href="tel:+1(345)927-4463">+1 (345) 927-4463</a>
        </div>
      </div>
    </div>
    <div class="logo">
      <Image src={logo_footer} alt="logo_footer" class="logo_footer" />
      <p>
        Copyright and Powered by &nbsp; <a
          href="https://jr-martinez.netlify.app/">jrmartinez.com</a
        > &nbsp; © 2022 All Rights Reserved
      </p>
    </div>
    <div class="links">
      <div class="link">
        <a href="#home">Home</a>
        <a href="#aboutUs">About Us</a>
        <a href="#services">Services</a>
        <a href="#contactUs">Contact Us</a>
      </div>
      <div class="social">
        <a href="https://es-la.facebook.com/"
          ><Image src={facebook} alt="facebook" height={30} width={30} />
        </a>
        <a href="https://www.instagram.com/"
          ><Image src={instagram} alt="instagram" height={30} width={30} />
        </a>
      </div>
      <p>
        Copyright and Powered by &nbsp; <a
          href="https://jr-martinez.netlify.app/">jrmartinez.com</a
        > &nbsp; © 2022 All Rights Reserved
      </p>
    </div>
  </footer>
</Layout>
<style lang="scss">
  @import "../styles/variables";
  @import "../styles/animations";
  @import "../styles/mixins";
  .map-responsive {
    overflow: hidden;
    @include media(mobile) {
      padding-bottom: 0;
      height: 200px;
    }
    @include media(tablet) {
      padding-bottom: 0;
      height: 200px;
    }
    @include media(desktop) {
      padding-bottom: 0;
      height: 300px;
    }

    position: relative;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  }
  .header {
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/header.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__logo_div {
      display: inline-block;
      width: 100%;
    }

    &__logo-box {
      @include media(mobile) {
        text-align: center;
        padding: 50px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(tablet) {
        padding: 50px;
        text-align: center;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(desktop) {
        position: absolute;
        top: 10rem;
        left: 8rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        padding: 0;
      }
    }

    &__logo {
      @include media(mobile) {
        width: 100%;
        height: 40vh;
      }
      @include media(tablet) {
        width: 60vw;
        height: 40vh;
      }
      @include media(desktop) {
        width: 100%;
        height: 30vw;
      }
    }
  }
  footer {
    @include media(mobile) {
      align-items: center;
      flex-direction: column;
    }
    @include media(desktop) {
      flex-direction: row;
    }
    display: flex;
    background-color: $color-footer;
    justify-content: space-around;

    .contact {
      .info {
        @include media(mobile) {
          display: none;
        }
        @include media(desktop) {
          display: flex;
        }
        align-items: center;
        .icon {
          margin-right: 2rem;
        }
        .phone {
        }
        .text {
          h3 {
            margin-top: 0;
            color: $color-white;
            font-size: calc(12px + 0.390625vw);
            font-weight: 500;
            margin-bottom: 0;
          }
          a {
            margin-top: 5px;
            color: $color-white;
            font-size: calc(12px + 0.390625vw);
            font-weight: 200;
            padding-right: 6rem;
            text-decoration: none;
          }
          a:hover {
            color: $color-primary;
            cursor: pointer;
          }
        }
      }
    }
    .logo {
      display: flex;
      align-items: center;
      flex-direction: column;
      .logo_footer {
        @include media(mobile) {
          width: 100px;
          height: 100px;
        }
        @include media(desktop) {
          width: 200px;
          height: 200px;
        }
      }
      p {
        @include media(mobile) {
          display: none;
        }
        @include media(desktop) {
          display: flex;
        }
        color: $color-white;
        font-size: calc(8px + 0.390625vw);
        font-weight: 500;
        margin-bottom: 0;
        padding: 2rem;
        a {
          color: $color-white;
        }
      }
    }
    .links {
      p {
        @include media(mobile) {
          display: flex;
        }
        @include media(desktop) {
          display: none;
        }

        color: $color-white;
        font-size: calc(8px + 0.390625vw);
        font-weight: 500;
        margin-bottom: 0;
        padding: 2rem;
        a {
          color: $color-white;
        }
      }
      .link {
        display: flex;
        a {
          color: $color-white;
          font-size: calc(12px + 0.390625vw);
          font-weight: 500;
          margin-bottom: 0;
          padding: 2rem;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .social {
        display: flex;
        margin-top: 5rem;
        justify-content: flex-end;
        margin-bottom: 2rem;
        width: 95%;
        a {
          cursor: pointer;
        }
        img {
          margin-right: 2rem;
        }
      }
    }
  }
</style>
